body{
    max-width: 1440px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan", sans-serif;
    background-color: hsl(222, 26%, 31%);
}

.league-spartan-boddy {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.header {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:hsl(0, 0%, 100%);
    font-size: 17px;
}

.header__title{
    align-items: flex-end;
    justify-content: flex-end;
    color: pink;
}

.themeSection {
    display: flex;
    flex-direction: row;
}

.themeSection span{
    font-size: 10px;
    letter-spacing: 1.8px;
}

/* .wrapper {
    /* width: 200px; */
    /* display: flex; */
    /* justify-content: center; */
    /* padding: 0px 10px; */


  #custom-toggle {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 40px;
    background-color: hsl(223, 31%, 20%);;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0 2px;
    margin: 0;
    cursor: pointer;
  }
  #custom-toggle.tgl-first::-webkit-slider-thumb {
    background-color: hsl(6, 63%, 50%);
  }
  #custom-toggle.tgl-second::-webkit-slider-thumb {
    background-color: hsl(25, 98%, 40%);
  }
  #custom-toggle.tgl-third::-webkit-slider-thumb {
    background-color: hsl(176, 100%, 44%);
  }
  #custom-toggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }
  #custom-toggle:focus {
    outline: none;
  }


  
#displayCalculations {
    background-color:hsl(224, 36%, 15%);
    color:hsl(0, 0%, 100%);
    width: 400px;
    height: 80px;
    border-radius: 10px;
    border: none;
    margin: 15px 0;
    font-size: 35px;
    font-weight: 800;
    text-align: right;
}

.btns {
    font-family: "League Spartan", sans-serif;
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    height: 40px;
    width: 70px;
    border-radius: 10px;
    border: none;
    margin: 15px 15px;
    cursor: pointer;
    color: hsl(221, 14%, 31%);
    font-size: 25px;
    font-weight: 800;
    box-shadow: 0px 3px 1px hsl(28, 16%, 65%);
}

.btn:hover {
    background-color:hsl(0, 0%, 100%);
}

#equalstoBtn {
    background-color: hsl(6, 63%, 50%);
    color: hsl(0, 0%, 100%);
    width: 170px;
    font-size: 17px;
    box-shadow: 0px 3px 1px hsl(6, 70%, 34%);  
}

#equalstoBtn:hover {
    background-color:hsl(6, 76%, 67%);
}

#reset, #del {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    box-shadow: 0px 3px 1px hsl(224, 28%, 35%);
}

#reset:hover, #del:hover {
    background-color:hsl(225, 29%, 70%);
}

#reset {
    width: 170px;
}